In [5]:
import numpy as np
import pandas as pd

In [6]:
x = np.array([1.65, 0, 1.62, 0])
x / np.linalg.norm(x)

array([0.71356397, 0.        , 0.70059008, 0.        ])

In [7]:
a = np.array([0.6205599665691601, 0.08692018386961974, 0.0, 0.29251984956122024])
a.sum()

1.0

In [8]:
data = pd.DataFrame({
    'df': [18165, 6723, 19241, 25235],
    'idf': [1.65, 2.08, 1.62, 1.5],
    'd1': [27, 3, 0, 14],
    'd2': [4, 33, 33, 0],
    'd3': [24, 0, 29, 17],
    'q': [1, 0, 1, 0]
})
data.index = ['car', 'auto', 'insurance', 'best']

In [9]:
data

              df   idf  d1  d2  d3  q
car        18165  1.65  27   4  24  1
auto        6723  2.08   3  33   0  0
insurance  19241  1.62   0  33  29  1
best       25235  1.50  14   0  17  0

In [10]:
def f1(data, name):
    v = data[name] * data['idf']
    v1 = v/np.linalg.norm(v)
    q = data['q'] * data['idf']
    q1 = q/np.linalg.norm(q)
#     print(q1, v1)
    score = q1.dot(v1)
    return v.values, v1.values, score

In [11]:
def f2(data, name):
    v = np.log(1 + data[name]) * data['idf']
    v1 = v/np.linalg.norm(v)
    q = np.log(1 + data['q']) * data['idf']
    q1 = q/np.linalg.norm(q)
#     print(q1, v1)
    score = q1.dot(v1)
    return v.values, v1.values, score

In [12]:
f2(data, 'q')

(array([1.14369285, 0.        , 1.12289843, 0.        ]),
 array([0.71356397, 0.        , 0.70059008, 0.        ]),
 1.0)